CompileFlags:
  CompilationDatabase: build
  Compiler: i686-w64-mingw32-g++
  Remove:
    - -mno-*
    - -static-libgcc
    - -static-libstdc++
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
