[submodule "modloader/include/minhook"]
	path = modloader/include/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "modloader/sdk/imgui"]
	path = modloader/sdk/imgui
	url = https://github.com/ocornut/imgui.git
